.contact-title{
    text-align: center;
}
.contact-sec-title{
    background-color: #efefef;
    padding: 5px 10px;
    margin: 15px -10px 10px -10px;
}
.contact-sec-title-icon{
    color: #65a134;
}
.contact-sec-title-text{
    padding: 0;
    margin: 0;
    display: inline;
    font-size: 14px
}
.contact-wrap{
    padding: 0 10px;
    font-size: 14px;
}
.before-contact{
    font-size: 14px;
}
.email-input-area{
    display: grid;
    grid-template-areas: 
    "department text"
    "name text"
    "email text"
    "captcha text"
    "captcha button";
    grid-gap: 10px;
}
.email-input-area [class^="email-input"]{
    border: #d7d7d7 solid 1px;
    border-radius: 4px;
}
.email-input-area input[type="text"]{
    height: 30px;
    padding: 5px;
}
.email-input-department{
    grid-area: department;
}
.email-input-name{
    grid-area: name;
}
.email-input-email{
    grid-area: email;
}
.email-input-captcha{
    grid-area: captcha;
}
.email-input-text{
    grid-area: text;
    resize: none
}
.email-input-button{
    grid-area: button;
}
.email-department {
    display: flex;
    flex-direction: column;
    color: #757575

}
.email-input-department {
    height: 30px;
    color: #757575
}
.email-input-department option{
    color: black
}
.call-us{
    position: relative;
}
.contact-text{
    margin: 10px 0;
    display: inline-block;
}
.call-phones-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 35px;
    grid-gap: 5px;
}
.call-phone{
    display: flex;
    align-items: center;
}
.call-country{
    padding: 0 5px;
    font-weight: bold
}
.call-number{
    white-space: nowrap;
}
.live-chat-balloon{
    position: absolute;
    top: 158px;
    right: -20px;
}
.live-chat-balloon::before{
    content: "LIVE CHAT";
    position: absolute;
    color: white;
    font-weight: bold;
    word-wrap: break-word;
    top: 15px;
    text-align: center;
    left: 11px;
    width: 60px;

}