/* tablet size */
@media only screen and (max-width: 1050px) {

    /* mainFile */
    .page-wrap{
        grid-template-areas: 
        "menu"
        "contact"
        "adv"
        "popular"
        "footer";
        grid-template-columns: 70%;
    }

    /* menu */
    .menu-options{
        display: none;
    }
    .menu{
        align-items: center;
    }
    .menu-description{
        font-size: 13px;
        padding-top: 5px;
        padding-left: 0;
    }

    /* contact */
    .contact-wrap{
        padding: 0
    }
    .live-chat-balloon{
        display: none;
    }

    /* header */
    .header-options .fab, .header-nav,.header-login,.header-language{
     display: none;
    }
    .email-input-area {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 305px;
        height: 415px;
        margin: auto;
    }
    .header {
        justify-content: space-between;
        padding: 0 10%;
    }  
    .header-options{
        min-width: fit-content;
    }
    .header-mobile-more{
        display: inline;
    }

    /* popular */
    .popular-searches-options-container {
        max-height: 300px;
        overflow: hidden;
    }

    /* footer */
    .footer {
        grid-template: 
        "logo"
        "follow"
        "deliver"
        "accept"
        "partners"
        "newsletter";
        grid-template-columns: 100%;
        justify-content: center;
    }
    .footer-deliver, .footer-accept, .footer-partners{
        flex-direction: column;
    }
    .footer-newsletter{
        width: 230px;
        justify-self: center;
    }
    .footer-follow{
        align-items: center;
    }

}


/* Mobile */
@media only screen and (max-width: 500px) {
    .page-wrap{
        grid-template-columns: 80%;
    }

}
