.hide{
    display: none;
}
.sidebar-menu{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #ececec
}
.sidebar-screen-background{
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    background: #00000082;
}
.sidebar-menu-container {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    height: 100%;
    width: 70%;
    background: #1f1f1f;
    box-shadow: 9px 0px 42px 1px rgba(120,120,120,1);
}
.sidebar-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    height: 40%;
    padding-left: 25px;
    margin-top: 30px;
}
.sidebar-nav-link{
    cursor: pointer;
}
.sidebar-nav-link:hover{
    font-weight: bold;
    color: white
}
/* .sidebar-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
} */
.logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: rgb(230, 230, 230);
    padding: 1px 0;
    margin-top: 15px;
}
.sidebar-logo{
    width: 80%;
    /* padding-left: 25px;
    margin-top: 20px; */
}

.sidebar-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    justify-self: flex-end;
    margin-top: auto;
}
.sidebar-more-button{
    font-size:35px;
    cursor: pointer;
    margin-left: auto;
    margin: 20px 20px 10px auto;
}